@model List<StudentManagementApp.Models.Student>
<h2>Student List</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Class</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName @student.MiddleName @student.LastName</td>
                <td>@student.Birthday.ToShortDateString()</td>
                <td>@student.EClass</td>
                <td>@student.Phone</td>
                <td>@student.Email</td>
            </tr>
        }
    </tbody>
</table>

<div>
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a href="/Student/Index?page=@i" class="@(i == ViewBag.CurrentPage ? "text-danger" : "")">@i</a>
    }
</div>

<a href="/Student/Create" class="btn btn-primary">Add New Student</a>